@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "inter", system-ui;
  text-decoration: none;
  list-style: none;
  border-color: rgb(226, 232, 240);
  border-width: 0px;
  border-style: solid;
}

.text__purple {
  color: #6415ff;
}

.btn__hover:hover {
  background-color: #4d11c4;
  transition: all 300ms ease;
}

.hover__effect:hover {
  color: #6415ff;
}

.hover__link {
  position: relative;
}

.hover__link:after {
  content: "";
  position: absolute;
  background: #6415ff;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0px;
  transition: opacity 300ms ease;
  opacity: 0;
}

.hover__link:hover:after {
  opacity: 1;
}

body {
  padding: 32px;
}

img {
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
}

h5 {
  color: #243e63;
  font-weight: 700;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.divide {
  margin-top: 40px;
}

/* NAV */

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}

.btn__menu {
  font-size: 24px;
  color: #6415ff;
  background: none;
  text-align: center;
  display: none;
}

.btn__backdrop {
  position: fixed;
  top: 4px;
  right: 0px;
  width: 100%;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px;
  z-index: 10;
  display: none;
  flex-direction: column;
}

.menu--open .btn__backdrop {
  display: flex;
}

.backdrop__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop__link {
  margin: 8px 0;
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
}

.sign-up__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 32px;
  font-size: 18px;
  color: #f7fafc;
  border: 1px solid #ffffff;
  background-color: #6415ff;
  border-radius: 9999px;
  margin: 0 160px;
}

.btn__menu--close {
  position: fixed;
  right: 28px;
  top: 40px;
  font-size: 24px;
  color: #6415ff;
  background: none;
}

.nav__text {
  text-align: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin-right: 12px;
  padding-bottom: 4px;
}

.nav__home {
  font-size: 24px;
  font-weight: 900;
}

.nav__logo--img {
  width: 100%;
}

.logo {
  width: 40px;
  margin-right: 12px;
}

.nav__link {
  margin: 0 24px;
  padding-bottom: 4px;
}

.nav__link--second {
  margin: 0 24px 0 48px;
  padding-bottom: 4px;
}

.link--primary,
.home__link--primary {
  color: white;
  background-color: #6415ff;
  border-radius: 25px;
}

.link--primary {
  padding: 12px 32px;
}

.values,
.home__container,
.work__container,
.step__container,
.price__container,
.rating__container,
.container {
  padding: 96px 0;
}

/* HOME */

.home__link--primary {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  padding: 16px 20px;
  margin: 8px 8px 8px 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;
}

.home__container {
  display: flex;
  height: 100%;
  height: calc(90vh - 44px);
}

.home__para {
  margin: 32px 0;
  font-size: 18px;
  color: #243e63;
}

.home__input--wrapper {
  max-width: 430px;
  height: 68px;
  position: relative;
  text-align: center;
}

.home__input {
  border: solid 2px rgb(226, 232, 240);
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 20px 196px 20px 32px;
  border-radius: 9999px;
  color: rgb(226, 232, 240);
  transition: all 300ms ease;
}

.home__input:focus {
  transition: all 300ms ease;
  outline: 1px solid #6415ff;
  border: #6415ff;
}

.home__input:hover {
  transition: all 300ms ease;
  border: solid 2px rgb(189, 193, 199);
}

::placeholder {
  color: rgb(226, 232, 240);
}

.home__left {
  width: 40%;
  text-align: left;
}

.home__right {
  width: 60%;
}

.home__customer {
  margin-top: 80px;
}

.customer__logo {
  margin-top: 16px;
  padding-right: 128px;
}

.customer__img {
  opacity: 0.5;
}

.home__sub-title {
  color: #a0aec0;
  font-weight: 700;
  font-size: 12px;
  opacity: 0.85;
}

/* FEATURES */

.features {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.margin {
  margin-bottom: 16px;
}

.header {
  font-weight: 900;
  font-size: 48px;
  color: #243e63;
}

.feature__para {
  text-align: center;
  max-width: 576px;
  margin-top: 16px;
  line-height: 1.625;
  color: #7c88a1;
  font-weight: 500;
  font-size: 18px;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
}

.feature__box {
  max-width: 384px;
  width: calc(100% / 3);
}

.feature__container {
  margin: 8px 0 0 16px;
}

.feature__point {
  display: flex;
  margin: 0 16px;
  padding: 32px 8px;
}

.icon__frame {
  display: flex;
  padding: 20px;
  border: solid 2px rgb(226, 232, 240);
  border-radius: 50%;
  width: 66px;
  height: 66px;
}

.icon {
  width: 24px;
  height: 24px;
}

.text__title {
  font-size: 24px;
  font-weight: 700;
  color: #243e63;
}

.text {
  margin-top: 16px;
  color: #7c88a1;
  line-height: 2;
}

/* QUALITY WORK */

.work__container {
  display: flex;
  align-items: center;
}

.work__title {
  margin-top: 16px;
}

.work__description--wrapper {
  width: 90%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
}

.work__description {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  color: #7c88a1;
}

.column {
  width: 50%;
}

.work__btn {
  margin-top: 32px;
  font-size: 14px;
  font-weight: 700;
  max-width: 145px;
}

.work__img--wrapper {
  width: 50%;
}

.work__img {
  border: solid 1px rgb(226, 232, 240);
  border-radius: 4px;
}

/* STEPS */

.step__container {
  display: flex;
  align-items: center;
}

.step__img--wrapper {
  width: 50%;
}

.step__img {
  width: 100%;
  height: 80%;
}

.right__column {
  width: 50%;
  margin-left: 64px;
  padding: 32px 0;
}

.step__title {
  margin-top: 16px;
}

.steps__column {
  display: flex;
  margin-top: 32px;
}

.step__description {
  margin-left: 24px;
  width: 60%;
}

.text__para {
  color: #718096;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  color: #cbd5e0;
}

.text__heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

/* VALUES */

.values {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.width {
  margin-right: 64px;
}

.value__title {
  margin-top: 16px;
}

.value__description {
  font-size: 18px;
  font-weight: 500;
  margin-top: 32px;
  line-height: 1.625;
  color: #7c88a1;
}

.left__column {
  width: 50%;
}

.feature__img--wrapper {
  width: 50%;
}

.feature__img {
  width: 100%;
}

.top__feature {
  display: flex;
  align-items: center;
}

.value__features {
  display: flex;
}

.feature__right {
  margin-top: 32px;
}

.value__feature {
  margin: 32px 32px 0 0;
}

.feature__title {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.feature__text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.625;
  color: #718096;
}

.feature__icon {
  text-align: center;
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 50%;
}

.color__left {
  background-color: #9ae6b4;
}

.color__right {
  background-color: #feb2b2;
}

.value__btn {
  margin-top: 48px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
}

/* PRICING */

.price__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-top: 64px;
}

.plan {
  width: calc(100% / 3);
  max-width: 384px;
  display: flex;
  flex-direction: column;
  padding: 8px 32px 0;
  border: 1px solid rgb(226, 232, 240);
  text-align: center;
  border-radius: 8px;
}

.purple {
  background-color: #6415ff;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.white {
  color: white;
}

.color__text {
  color: #243e63;
}

.border-line {
  border: 2px solid rgb(102 126 234);
}

.white__btn {
  color: #6415ff;
  background-color: white;
}

.right__btn {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.left__btn {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.btn__float {
  transition: all 300ms ease;
}

.btn__float:hover {
  transform: translateY(-4px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.price__plan,
.plan__feature,
.buy__plan {
  display: flex;
  flex-direction: column;
}

.price__description {
  color: #7c88a1;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  max-width: 576px;
  margin-top: 16px;
  text-align: center;
}

.price__plan {
  padding: 32px 0;
}

.plan__features {
  padding: 32px;
  margin: 0 -32px;
}

.border__color {
  border: 1px solid rgb(226, 232, 240);
}

.buy__plan {
  padding: 32px 64px;
}

.buy__btn {
  padding: 16px 32px;
  border: #243e6300 solid 2px;
  border-radius: 99999px;
  overflow: hidden;
}

.price__title {
  font-size: 20px;
  font-weight: 700;
}

.price__amount {
  margin: 4px 0;
  font-size: 48px;
  font-weight: 700;
}

.price__time {
  font-size: 16px;
  font-weight: 700;
  color: #a0aec0;
}

.plan__feature {
  margin-top: 20px;
}

.feature__name {
  font-size: 20px;
  font-weight: 700;
}

.color__edge-r {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.color__edge-l {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.left {
  position: relative;
}

.right {
  position: relative;
}

/* RATING */

.rating__container {
  display: flex;
}

.rating__img--wrapper {
  width: 50%;
}

.rating__right--column {
  width: 50%;
  padding-left: 64px;
}

.rating__title {
  margin-top: 16px;
}

.rating__para {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  color: #7c88a1;
}

.rating__profile {
  margin-top: 40px;
}

.rating__profile {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__wrapper {
  display: flex;
  align-items: center;
}

.profile__sub-title {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
}

.profile__para {
  color: #4a5568;
  margin: 16px 0 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
}

.profile__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.pic {
  width: 100%;
}

.stars {
  color: rgb(246 173 85);
}

.names {
  margin-left: 24px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
}

.arrows {
  display: flex;
}

.left__arrow,
.right__arrow {
  padding: 16px;
  margin: 0 12px;
  border-radius: 50%;
}

.divide__btn {
  margin: 12px 0;
  border-right-width: 1px;
}

/* QUESTION */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.question__para {
  margin-top: 16px;
  color: #7c88a1;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  max-width: 576px;
  text-align: center;
}

.question__container {
  width: 100%;
  max-width: 896px;
  margin-top: 48px;
}

.single__column {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 8px;
  background-color: #edf2f7;
  width: 100%;
  margin-top: 20px;
  padding: 16px 40px;
}

.question__text {
  font-size: 20px;
  font-weight: 600;
  color: #2d3748;
}

.arrow__down {
  width: 24px;
  height: 24px;
}

/* CONTACT US */

.contact__container {
  width: 100%;
  margin: 0 auto;
  padding: 96px 0;
}

.contact__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 128px;
  padding: 0 32px;
}

.padding {
  padding: 96px 0;
  background-color: #6415ff;
  border-radius: 8px;
}

.contact__text {
  width: 50%;
}

.con__text {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.start__btn,
.contact__btn {
  transition: all 300ms ease;
  padding: 20px 40px;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 700;
  color: #f7fafc;
}

.start__btn {
  margin-right: 32px;
  background-color: #f56565;
}

.contact__btn {
  background-color: #6415ff;
  border: 1px solid #718096;
}

.start__btn:hover {
  background-color: #e53e3e;
}

.contact__btn:hover {
  background-color: #f7fafc;
  color: #6415ff;
}

/* FOOTER */

.footer__container {
  margin: 0 -32px -32px -32px;
  padding: 80px 32px;
  background-color: #6415ff;
  color: #f7fafc;
}

.five__columns {
  margin: 0 auto;
  max-width: 1200px;
}

.five__column--rows {
  display: flex;
  justify-content: space-between;
}

.five__column {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.column__links {
  margin-top: 24px;
}

.link__background {
  margin-top: 12px;
}

.column__link {
  padding-bottom: 4px;
}

.footer__divider {
  border: 1px solid #718096;
  margin: 64px 0;
}

.footer__logo--container {
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 32px;
  height: 32px;
}

.bottom__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__sub-title,
.column__link {
  color: #f7fafc;
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  background: #f7fafc;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0px;
  transition: opacity 300ms ease;
  opacity: 0;
}

.underline:hover:after {
  opacity: 1;
}

.footer__title {
  color: #f7fafc;
  font-size: 20px;
  font-weight: 900;
  margin-left: 8px;
}

.copyright {
  color: #cbd5e0;
  font-size: 16px;
  font-weight: 500;
}
.web__links {
  height: 32px;
  display: flex;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 8px;
  border: 1px solid #f7fafc;
  background-color: #f7fafc;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.social__link:hover {
  background-color: #cbd5e0;
}

.social__link:not(:last-child) {
  margin-right: 16px;
}

/* MEDIA */

/* DESKTOP */

@media (max-width: 992px) {

  .step__title,
  .value__title,
  .rating__title {
    font-size: 36px;
  }

  .home__link--primary {
    font-size: 14px;
  }

  .btn__menu {
    display: block;
  }

  .nav__text {
    display: none;
  }

  .home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 512px;
    margin: 0 auto;
    height: 100%;
  }

  .home__left,
  .home__right {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .home__customer {
    margin-top: 48px;
  }

  .home__left {
    height: 40%;
  }

  .home__right {
    height: 60%;
    margin-top: 48px;
  }

  .home__title {
    font-size: 30px;
  }

  .home__para {
    font-size: 16px;
    margin: 20px 0;
  }
  
  .customer__logo {
    margin-top: 16px;
    padding: 0;
  }

  .home__sub-title {
    font-size: 14px;
  }

  .feature__para {
    font-size: 16px;
  }

  .feature__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature__box {
    width: calc(100% / 2);
  }

  .work__title {
    font-size: 36px;
  }

  .work__description {
    font-size: 16px;
  }
  
  .value__description {
    font-size: 16px;
  }

  .value__features {
    display: flex;
    flex-direction: column;
  }

    .price__description {
      font-size: 16px;
    }

    .plans {
      flex-direction: column;
      align-items: center;
    }

    .plan {
      margin-top: 64px;
      width: 100%;
    }

    .rating__img--wrapper {
      width: 41%;
    }

    .rating__right--column {
      width: 59%;
      padding-left: 48px;
    }

    .rating__para {
      font-size: 16px;
    }

    .contact__row {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    .contact__text {
      width: 100%;
      max-width: 512px;
      text-align: center;
    }
    
    .buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 24px;
    }

    .start__btn,
    .contact__btn {
      width: auto;
    }
}

@media (max-width: 768px) {

  .sign-up__btn {
    margin: auto;
    max-width: 138px;
  }

  .header__title {
    text-align: center;
    width: 100%;
    letter-spacing: 0.4px;
  }

  .feature__para {
    font-size: 14px;
  }

  .feature__box {
    width: 100%;
  }

  .work__container {
    flex-direction: column-reverse;
  }

  .work__img--wrapper {
    max-width: 448px;
  }

  .column {
    width: 100%;
  }

  .step__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .right__column {
    width: 100%;
    padding: 0;
    margin: 64px auto 0 auto;
    text-align: center;
  }

  .step__container {
    display: flex;
    flex-direction: column;
  }

  .steps__column {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .step__description {
    width: 100%;
    max-width: 350px;
    margin: 12px 0 0 0;
    text-align: center;
  }

  .work__description--wrapper {
    display: flex;
    align-items: center;
    margin: 64px auto 0 auto;
    padding: 0;
    max-width: 448px;
    text-align: center;
  }

  .work__description {
    font-size: 14px;
  }

  .values {
    display: flex;
    flex-direction: column-reverse;
  }

  .feature__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .left__column {
    width: 100%;
    max-width: 448px;
    margin: 64px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .width {
    margin: 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
  }

  .value__feature,
  .feature__right {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .rating__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rating__img--wrapper {
    width: 100%;
  }
  .rating__right--column {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 64px;
    width: 100%;
    max-width: 448px;
    padding: 0;
    text-align: center;
  }

  .rating__profile {
  
    width: 100%;
  }
  
  .question__para {
    font-size: 14px;
  }

  .question__text {
    font-size: 18px;
  }

  .five__column--rows {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .five__column {
    width: calc(100% / 3);
  }

  .bottom__footer {
    display: flex;
    flex-direction: column;
  }

  .copyright {
    margin-top: 32px;
  }
   
  .web__links {
    margin-top: 32px;
  }
}

@media (max-width: 568px) {
  .home__input--wrapper {
    height: 100%;
    width: 100%;
    transition: all 300ms ease;
  }

  .home__input {
    padding: 20px 0 20px 32px;
    margin-bottom: 68px;
  }

  .home__link--primary {
    width: 100%;
    left: 0;
    top: 68px;
  }

  .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .start__btn,
  .contact__btn {
    padding: 12px 24px;
  }

  .start__btn {
    margin: 0;
  }
  
  .contact__btn {
    margin-top: 16px;
  }
}